.css-cnd76u-MuiPaper-root {
    box-shadow: none !important;
    /* border: 1px solid; */
    padding: 0 !important;
    /* height: 60px; */
}
/* .index-herder {
    width: 100%;
} */
.css-h4y409-MuiList-root {
    display: flex !important;
}
/* MuiList-root MuiList-padding css-1ontqvh */
.css-10hburv-MuiTypography-root {
    text-align: center !important;
}
.css-8je8zh-MuiTouchRipple-root {
    display: none !important;
}