.box {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  width: 100%;
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding:0 !important
}
.css-mhc70k-MuiGrid-root {
  width: 1440px !important;
}
.css-mhc70k-MuiGrid-root {
  margin: 0 !important;
}

.css-isbt42 > .MuiGrid-item {
  padding:0 !important
}
.css-1pidhs0 {
  padding:0 !important;
  box-shadow: none !important;
}
.css-isbt42 {
  margin: 0 !important;
}
.css-1ontqvh {
  display: flex;
}
.css-e0yuwi {
  text-align: center !important;
}
.css-1o6z5ng {
  background-color: #fff !important;
}
.css-15kq27i {
  background-color: #fff !important;
}
.css-1hw9j7s {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: none !important;
}

